body{
   width: 1140px;
   margin: auto;
    
}

.bordure{
    text-align: center;
    margin: 30PX;
    padding: 20px;
    width: 85%;
    color: yellowgreen;
    background-color: rgb(252, 252, 55);
    border: 5px black solid;
}

.bordure:hover{
    background-color:rgb(205, 50, 140);
    
}

.bordure .click, .bordure:hover .touche {
    display : none;
}

.bordure:hover .click {
    display : block;
}

.jeu{
    position:relative;
    width: 850px;
    height:420px;
    background-color: black;
    margin: 30px;

}

.flex-box{
    left: 75%;
    top: 160px;
    position: absolute;
    background-color: turquoise;
    width: 147px;
    height: 468px;
}
#clicker{
    position :absolute;
    width: 70px;
    background-color : blue;
    cursor: crosshair;
    animation: rotate linear infinite;
    text-align: center; 
    /* animation: rotate 2s infinite; */
} 
.blanc{
    border: 5px turquoise solid;
    background-color: white;
    width: 135px;
    height: 60px;
    color: blue;
}
 .blanc2{
    border: 5px turquoise solid;
    background-color: white;
    width: 135px;
    height: 108px;
    color: blue;
} 
.blanc2 div{
    position: relative;
}

.blanc2 span{
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    top: -20px;
    right: 30px;
}
 
 .blanc2 div:hover > span{
    display: inline;
 }
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}












